<h1>Edit course {{course.title}}</h1>

<form action="/courses/edit" method="POST" class="course-form">
  <div class="input-field">
    <input type="text" class="validate" name="title" required value="{{course.title}}">
    <label for="title">Name course</label>
    <span class="helper-text" data-error="Write name"></span>
  </div>

  <div class="input-field">
    <input type="number" class="validate" name="price" required min="1" value="{{course.price}}">
    <label for="price">Price course</label>
    <span class="helper-text" data-error="Write price"></span>
  </div>

  <div class="input-field">
    <input type="text" class="validate" name="img" required value="{{course.img}}">
    <label for="img">URL image</label>
    <span class="helper-text" data-error="Write URL image"></span>
  </div>

  <input type="hidden" name="id" value="{{course.id}}">
  <input type="hidden" name="_csrf" value="{{csrf}}"/>

  <button type="submit" class="btn btn-primary">Edit course</button>
</form>

<form action="/courses/delete" method="POST">
  <input type="hidden" name="id" value="{{course.id}}"/>
  <input type="hidden" name="_csrf" value="{{csrf}}"/>
  <button type="submit" class="btn red">Delete course</button>
</form>
